
{% extends 'Perekrestok/base.html' %}
{% load static %}
{% block content %}

<link type="text/css" rel="stylesheet" href="{% static 'Perekrestok/css/about.css' %}">

<div >
    <img class="main-pic" src="{% static 'Perekrestok/img/pic1.jpeg' %} " alt="main photo">
    <p class="description">
        <i>«Перекрёсток»</i> — российская сеть супермаркетов, которой управляет X5 Group.
        В августе 2019 года открылся 800-й супермаркет сети<sup>[3]</sup>. По итогам 2019 года торговая сеть «Перекрёсток» насчитывает 852 супермаркета<sup>[4]</sup>.
        
        В 2020 году запущена программа обновления: около половины торгового зала должны занимать продукты категории fresh, предусмотрена специальная зона с товарами для ведения здорового образа жизни. Для удобства посетителей в новых и обновлённых «Перекрёстках» площадью более 800 кв. м. предусмотрят два покупательских пути: короткий и длинный. Первый складывается из зоны с овощами и фруктами, салат-бара, кулинарии, кафе и пекарни. В свою очередь длинный маршрут проходит по периметру торгового зала через отделы с рыбой, мясом, деликатесами, молочной продукцией, бакалеей, напитками, сопутствующими товарами[5]. В 2019 году «Перекрёсток» получил премию в области дизайна и архитектуры Best for Life Design Award в номинации «Архитектура ритейла и дизайн среды» в категории «супермаркет нового поколения»[6].
    </p>
</div>
{% endblock %}