{% extends 'Perekrestok/base.html' %}
{% load static %}


{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'Perekrestok/css/catalog.css' %}">
<script type="text/javascript" src="{% static 'Perekrestok/js/script.js' %}"></script>


{% load page_tags %}
<!-- {% get_items as items %} -->
{% get_all_categories as cats %}


<div>
    <!-- <button onclick="AjaxTest(this)" class="buy-button" data-id="{{el.pk}}">Купить</button> -->
    <form class="cat-form" method="POST">
        {% csrf_token %}
        {% for cat in cats %}
        <div class="cat-container">
            {% if cat_selected == cat.id %}
            <input class="cat-input" checked type="radio" value="{{cat.id}}" name="category" />
            {% else %}
            <input class="cat-input" type="radio" value="{{cat.id}}" name="category" />
            {% endif %}
            <label class="cat-label">{{cat.name}} </label>
        </div>
        {% endfor %}
        <div class="cat-container">
            {% if cat_selected == 0 %}
            <input class="cat-input" type="radio" value="0" checked name="category" />
            {% else %}
            <input class="cat-input" type="radio" value="0" name="category" />
            {% endif %}
            <label class="cat-label">Все продукы</label>
        </div>
        <button type="submit" class="cat-button">Применить</button>
    </form>
</div>
<div class="flex-container">
    {% for el in products %}
    <div class="flex-element">
        <a href="{{el.get_absolute_url }}">
            <img src="{{el.picture.url }}" alt="{{el.title}}">
        </a>
        <h1>{{el.title}}</h1>
        <button onclick="Add_to_cart(this)" data-counter="{{forloop.counter}}" class="buy-button" data-id="{{el.pk}}">В корзину</button>
        <h2 class="item-count ">{{el.price}} ₽<h2>
        <h3 data-id="{{el.pk}}" data-counter="{{forloop.counter}}" data-count="{{el.count}}" class="item-count count-tag ">{{el.count}}</h3>
    </div>
    {% endfor %}
</div>

{% endblock %}